@charset "UTF-8";
/*----------- GENERALES ------------*/
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,700;1,900&family=Noto+Sans:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif; }

.title-sec {
  margin-top: 20px;
  color: white;
  font-size: 40px;
  padding: 4%;
  padding-left: 40px;
  background-color: #43b3e7; }

.dptos-cuatro {
  padding: 1%; }

.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px; }

.img-servicio {
  width: auto;
  height: auto; }

.carousel-inner img {
  object-fit: scale-down;
  height: 50vh;
  width: 100%; }

/**---------GRID GALERIA-----------*/
.grid-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  /* grid-template-rows: ; */
  grid-auto-rows: 250px;
  gap: 15px; }
  .grid-galeria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px -1px #1678eb;
    -webkit-box-shadow: 0px 0px 10px -1px #1678eb;
    -moz-box-shadow: 0px 0px 10px -1px #1678eb;
    transition: 0.6s; }
    .grid-galeria div img:hover {
      transform: scale(1.05); }
  .grid-galeria .img-4 {
    grid-area: span 2; }
  .grid-galeria .img-3 {
    grid-area: span 2; }
  .grid-galeria .img-6 {
    grid-area: span 2; }
  .grid-galeria .grid-dep {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    /* grid-template-rows: ; */
    grid-auto-rows: 250px;
    gap: 10px; }
    .grid-galeria .grid-dep img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .grid-galeria .formulario {
    text-align: center; }
  .grid-galeria .enviar-form {
    padding: 1%; }

.text-desc {
  padding: 2%; }

.container, header, .principal, .principal div, .serv, .serv div a {
  display: flex;
  justify-content: center;
  align-items: center; }

.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end; }

/*----------- HEADER -------------*/
header {
  background-color: white; }
  header a img {
    width: 250px;
    height: 160px; }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly; }
    header nav ul li {
      list-style: none;
      margin: 20px;
      transition: 0.6s; }
      header nav ul li:hover {
        transform: scale(1.1); }
      header nav ul li a {
        text-decoration: none;
        color: #5c5c5c; }

/*---------- -MAIN ----------*/
.hero {
  text-align: center;
  width: 100%;
  height: 75vh;
  font-family: 'Merriweather', serif;
  color: white;
  background-image: url(../img/imgprincipal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  flex-direction: column; }
  .hero div {
    width: 500px;
    background-color: rgba(95, 195, 254, 0.864);
    border-radius: 0.5rem;
    padding: 20px;
    margin: 5px; }
    .hero div h1 {
      font-size: 40px;
      font-style: italic; }
      .hero div h1 p {
        margin-bottom: 20px;
        font-size: 20px; }

/*------------ SECTION PRINCIPAL -------------*/
.principal {
  flex-direction: column; }
  .principal div {
    text-align: center;
    flex-direction: column;
    margin-top: 40px; }
    .principal div h2 {
      font-size: 40px;
      text-align: center;
      font-style: italic;
      font-family: 'Merriweather', serif; }
      .principal div h2 h3 {
        font-size: 30px;
        font-style: italic;
        text-align: center; }
        .principal div h2 h3 p {
          margin-top: 25px; }

/*---------- SECTION SERVICIOS -------------*/
.serv {
  flex-wrap: wrap; }
  .serv div {
    border: 1px solid rgba(128, 128, 128, 0.549);
    box-shadow: 0px 0px 10px -1px #afb0b1;
    -webkit-box-shadow: 0px 0px 10px -1px #b3b6b9;
    -moz-box-shadow: 0px 0px 10px -1px #9fa1a4;
    width: 380px;
    height: 330px;
    margin: 30px;
    text-align: center; }
    .serv div:hover {
      width: 380px;
      height: 330px;
      box-shadow: 0px 0px 10px -2px #1678eb;
      -webkit-box-shadow: 0px 0px 10px -2px #1678eb;
      -moz-box-shadow: 0px 0px 10px -2px #1678eb; }
    .serv div a {
      text-decoration: none;
      color: black;
      font-size: 20px;
      padding-bottom: 15px; }
      .serv div a img {
        width: 380px;
        height: 250px; }

/*---------- PAGE CABAÑAS -----------*/
.cabana {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  padding-bottom: 20px; }
  .cabana img {
    padding: 15px;
    width: 650px;
    height: 420px; }

/*-------- PAGE SERVICIOS ----------*/
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.act-serv {
  padding-left: 15px; }

.servicios-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row-reverse;
  padding: 35px; }
  .servicios-1 img div {
    text-align: center; }

/*------------ PAGE DEPARTAMENTOS --------------*/
.departamentos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  padding-bottom: 20px; }
  .departamentos img {
    padding: 15px;
    width: 650px;
    height: 420px; }

.desc-dep {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  padding-bottom: 20px; }

/*------------- PAGE ACTIVIDADES------------------*/
.actividades {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
  padding-bottom: 20px; }
  .actividades img {
    padding: 15px;
    width: 650px;
    height: 420px; }

/*----------- FOOTER ----------*/
.pie {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px; }
  .pie .redes a img {
    width: 45px;
    height: 45px;
    padding: 5px;
    transition: 1s; }
    .pie .redes a img:hover {
      transform: translateY(-15px); }
    .pie .redes a img h4 {
      font-size: 20px;
      font-style: italic;
      padding: 30px; }
      .pie .redes a img h4 p {
        font-size: 15px;
        padding: 25px; }

.mapita {
  padding-top: 15px;
  width: 100%; }

.website {
  padding: 12px;
  background-position: center; }

.img-act {
  width: 100%;
  height: 90vh;
  padding: 5%; }

.fixed {
  width: 45px;
  height: 45px;
  position: fixed;
  right: 50px;
  bottom: 50px; }

/*-------- MEDIA QUERY ---------*/
@media screen and (max-width: 1300px) {
  .servicios-2 {
    display: flex; }
  .servicios-1 {
    display: flex;
    flex-direction: column; }
    .servicios-1 img {
      width: 400px;
      height: 320px;
      padding: 20px; }
      .servicios-1 img div {
        padding: 20px; }
        .servicios-1 img div h2 p {
          text-align: center;
          padding: 15px; } }

@media screen and (max-width: 1150px) {
  .cabana {
    flex-direction: column; }
    .cabana div {
      text-align: center; }
      .cabana div img {
        padding: 10px;
        width: 500px;
        height: 450px; }
  .servicios-2 {
    display: flex;
    flex-direction: column;
    /* align-items: ; */
    padding: 30px; }
  .img-act {
    width: 100%;
    height: 80vh;
    padding: 4%; } }

@media screen and (max-width: 1140px) {
  header {
    flex-direction: column;
    padding: 5px; } }

@media screen and (max-width: 1100px) {
  header nav ul {
    flex-direction: column; }
  .cabana {
    flex-direction: column; }
    .cabana div {
      text-align: center; }
      .cabana div h2 p img {
        padding: 10px;
        width: 500px;
        height: 400px; }
  .flex-container {
    flex-direction: column; }
  .departamentos {
    flex-direction: column; }
  .grid-galeria {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 220px; }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1; }
  .img-4 {
    grid-area: span 2; }
  .img-8 {
    grid-area: span 2; }
  .img-act {
    width: 100%;
    height: 60vh;
    padding: 2%; } }

@media screen and (max-width: 870px) {
  header img {
    width: 200px;
    height: 120px; }
    header img nav ul {
      flex-direction: column;
      text-align: center; }
      header img nav ul li {
        margin: 5px; }
  footer {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px; } }

@media screen and (max-width: 750px) {
  .hero {
    height: 300px;
    text-align: center;
    color: white;
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .hero div {
      width: 350px;
      height: 235px;
      text-align: center;
      border: 0.5px solid #51bffa;
      background-color: #51bffa;
      padding: 16px; }
      .hero div h1 {
        font-size: 25px; }
        .hero div h1 p a h3 {
          font-size: 15px;
          font-style: italic;
          padding: 10px; }
  .cabana img {
    width: 350px;
    height: 300px; }
  .pie h3 {
    font-size: 15px;
    font-style: italic;
    padding: 10px; }
  .img-act {
    width: 100%;
    height: 45vh;
    padding: 2%; }
  .desc-dep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px; } }

.servicios-1 {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .servicios-1 img {
    width: 340px;
    height: 300px;
    padding: 20px; }
    .servicios-1 img div {
      padding: 20px; }
      .servicios-1 img div h2 p {
        width: 600px;
        text-align: center;
        padding: 15px; }

@media screen and (max-width: 450px) {
  .hero h1 {
    font-size: 20px; }
  .serv div {
    border: 1px solid rgba(128, 128, 128, 0.549);
    box-shadow: 0px 0px 10px -1px #afb0b1;
    -webkit-box-shadow: 0px 0px 10px -1px #b3b6b9;
    -moz-box-shadow: 0px 0px 10px -1px #9fa1a4;
    width: 345px;
    height: 320px;
    margin: 30px;
    text-align: center; }
    .serv div:hover {
      width: 380px;
      height: 330px;
      box-shadow: 0px 0px 10px -2px #1678eb;
      -webkit-box-shadow: 0px 0px 10px -2px #1678eb;
      -moz-box-shadow: 0px 0px 10px -2px #1678eb; }
    .serv div a img {
      width: 345px;
      height: 230px; }
  .grid-galeria {
    grid-template-columns: 1fr; }
  .grid-item {
    grid-column: span 1;
    grid-row: span 1; }
  .grid-dep {
    grid-template-columns: 1fr; }
  .servicios-1 div {
    width: 100%;
    font-size: 15px; }
    .servicios-1 div img {
      width: 340px;
      height: 250px; }
      .servicios-1 div img p {
        width: 340px; }
  .cabana img {
    padding: 10px;
    width: 350px;
    height: 300px; }
  .principal div {
    width: 345px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .principal div h2 {
      font-size: 30px;
      text-align: center;
      padding: 10px;
      font-style: italic;
      font-style: inherit; }
      .principal div h2 h3 {
        font-size: 15px;
        font-style: italic;
        text-align: center; }
        .principal div h2 h3 p {
          text-align: center;
          width: 348px; }
  .fixed {
    position: fixed;
    right: 20px;
    bottom: 20px; }
  .img-act {
    width: 100%;
    height: 35vh;
    padding: 1%; }
  .title-sec {
    margin-top: 20px;
    color: white;
    font-size: 35px;
    padding: 4%;
    padding-left: 40px;
    background-color: #43b3e7; }
  .pie {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
    .pie .redes a img {
      width: 45px;
      height: 45px;
      padding: 5px;
      transition: 1s; }
      .pie .redes a img:hover {
        transform: translateY(-15px); }
      .pie .redes a img h4 {
        font-size: 12px;
        font-style: italic;
        padding: 20px; }
        .pie .redes a img h4 p {
          font-size: 10px;
          padding: 15px; } }
