@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300;1,400;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*-------HEADER-------*/

header{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 250px;
    height: 160px;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

header nav ul li{
    list-style: none;
    margin: 20px;
    transition: 0.6s;
}
header nav ul li:hover{
    transform: scale(1.1);
}

header nav ul li a{
    text-decoration: none;
    color: rgb(92, 92, 92);
}



/*-------MAIN-------*/



.hero{
    text-align: center;
    width: 100%;
    height: 80vh;
    color: white;
    background-image: url(../img/imgprincipal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
}
.hero div{
    width: 500px;
    text-align: center;
    background-color: rgba(85, 195, 254, 0.664);
    border-radius: 0.5rem;
    padding: 20px;
    margin: 5px;
}



.hero div h1{
    font-size: 40px;
    font-style: italic;
}
.hero div p{
    margin-bottom: 20px;
    font-size: 20px;
}

.hero div a{
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color:cornflowerblue;
    padding: 8px;
    transition: 0.5s;
    font-size: 18px;
    border-radius: 0.5rem;
}
.hero div a:hover{
    background-color: rgba(249, 250, 252, 0.884);
    color: cornflowerblue;
}
/*!-------SECTION PRINCIPAL----------*/
.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.principal div{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.principal p{
    text-align: center;
    padding: 15px;
}
.principal div h2{
    font-size: 35px;
    text-align: center;
    padding: 20px;
    font-style: italic;
}
.principal h3{
    font-size: 30px;
    font-style: italic;
}
/*!----------SECTION SERVICIOS-------------*/
.serv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.serv div img{
    width: 300px;
    height: 250px;
}
.serv div{
    border: 1px solid grey;
    width: 302px;
    height: 300px;
    margin: 30px;
    text-align: center;
}
.serv div:hover{
    width: 302px;
    height: 300px;
    box-shadow: 0px 0px 10px -1px rgba(22,120,235,1);
-webkit-box-shadow: 0px 0px 10px -1px rgba(22,120,235,1);
-moz-box-shadow: 0px 0px 10px -1px rgba(22,120,235,1);
}
.serv div a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom : 5px;

}



/*!--------TEXTO INICIAL PAGES-----------*/
.title-sec{
    color: white;
    font-size: 40px;
    padding: 4%;
    padding-left: 40px;
    background-color: rgb(67, 179, 231);
}

/*!---------EDITOR DE P-----------*/
.desc-dep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    padding: 2%;
    padding-bottom: 20px;
}

.desc-dep li{
    list-style: none;
}

.dptos-cuatro{
    padding: 1%;
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
.btn-lg{
    margin: 10px;
}

.img-servicio{
    width: auto;
    height: auto;
}
/*!---------CSS PAGE CABAÑAS---------*/
.cabana{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    padding-bottom: 20px;
}
.cabana div{
    width: 800px;
}
.cabana img{
    padding: 15px;
    width: 650px;
    height: 520px;
}

/*!---------CSS PAGE SERVICIOS---------*/


.servicios-1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
}
.servicios-1 img{
    width: 600px;
    height: 400px;
}
.servicios-1 div{
    width: 700px;
    text-align: center;
}
.servicios-2{
    display: flex;
    align-items: center;
    padding: 30px;
}

/** -------IMAGENES DE PAGE GALERIA-----------*/
.grid-galeria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    /* grid-template-rows: ; */
    grid-auto-rows: 250px;
    gap: 15px;
}

.grid-dep{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
    /* grid-template-rows: ; */
    grid-auto-rows: 250px;
    gap: 10px;
}

.grid-dep img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-4{
    grid-area: span 2;
}

.img-3{
    grid-area: span 2;
}

.img-6{
    grid-area: span 2;
}
/**---------GRID GALERIA-----------*/
.grid-galeria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 10px -1px rgba(22,120,235,1);
-webkit-box-shadow: 0px 0px 10px -1px rgba(22,120,235,1);
-moz-box-shadow: 0px 0px 10px -1px rgba(22,120,235,1);
transition: 0.6s;
}
.grid-galeria div img:hover{
    transform: scale(1.05);
}


.formulario{
    text-align: center;
}

.enviar-form{
    padding: 1%;
}
/*-------FOOTER-------*/

.pie{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.pie h3{
    font-size: 25px;
    font-style: italic;
    padding: 20px;
}
.pie p{
    font-size: 15px;
    padding: 15px;
}
.pie div img{
    width: 45px;
    height: 45px;
    padding: 5px;
    transition: 1s;
}
.pie div img:hover{
    transform: translateY(-15px);
}

.fixed{
    position: fixed;
    right: 50px;
    bottom: 50px;
}

.mapita{
    padding-top: 15px;
    width: 100%;
}


.website{
    padding: 15px;
    background-position: center;
}

.img-act{
    width: 100%;
    height: 90vh;
    padding: 5%;
}

/*! --------MEDIA QUERY---------*/
@media screen and (max-width:1300px) {
    .servicios-2{
        display: flex;
        flex-direction: column;
        /* padding: 50px; */
    }
    .servicios-1{
        display: flex;
        flex-direction: column;
    }
    .servicios-1 div{
        padding: 20px;
    }
    .servicios-1 img{
        width: 500px;
        height: 350px;
        padding: 20px;
    }
    }

@media screen and (max-width:1150px) {
    .cabana div{
        width: 500px;
        text-align: center;
}
    .cabana img{
        padding: 10px;
        width: 500px;
        height: 450px;
}
.servicios-2{
    display: flex;
    flex-direction: column;
    /* align-items: ; */
    padding: 30px;
}
.img-act{
    width: 100%;
    height: 80vh;
    padding: 4%;
}
}


@media screen and (max-width:950px) {
    .cabana{
        flex-direction: column;
    }
    .cabana img{
        padding: 10px;
        width: 500px;
        height: 400px;
}
    .cabana div{
        width: 700px;
        text-align: center;
}
    .grid-galeria{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 220px;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
    .img-4{
        grid-area: span 2;
    }
    .img-8{
        grid-area: span 2;
    }

    .grid-dep{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 220px;
    }
    .img-3{
        grid-area: span 2;
}
.img-act{
    width: 100%;
    height: 60vh;
    padding: 2%;
}
}

@media screen and (max-width:750px) {
    .desc-dep{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 15px;
        padding: 2%;
        padding-bottom: 20px;
    }
    .cabana div{
        width: auto;
        text-align: center;
}


    .cabana img{
        padding: 10px;
        width: 350px;
        height: 290px;
}
    .hero{
        height: 300px;
        text-align: center;
        color: white;
        background-image: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    .hero div{
        width: 350px;
        height: 235px;
        text-align: center;
        border: 0.5px solid rgb(81, 191, 250);
        background-color: rgb(81, 191, 250);
        padding: 16px;
    }
    .hero div h1{
        font-size: 25px;
    }
    .hero div p{
    margin-bottom: 15px;
    }

    .pie h3{
        font-size: 15px;
        font-style: italic;
        padding: 10px;
        }

    .img-act{
        width: 100%;
        height: 45vh;
        padding: 2%;
    }
}


@media screen and (max-width:450px){

    .hero h1{
        font-size: 20px;
    }

    .principal{
        padding: 20px;
    }

    .grid-galeria{
        grid-template-columns: 1fr;
    }
    .grid-item{
        grid-column: span 1;
        grid-row: span 1;
    }
    .grid-dep{
        grid-template-columns: 1fr;
    }
    .servicio div{
        width: 320px;
        height: 200px;
        display: inline-block;
        padding: 5px;
        box-shadow: 0px 0px 1px -1px rgba(22,120,235,1);
        -webkit-box-shadow: 0px 0px 1px -1px rgba(22,120,235,1);
        -moz-box-shadow: 0px 0px 1px -1px rgba(22,120,235,1);
    }

    .servicios-1 img{
        width: 350px;
        height: 250px;
    }
    .servicios-1 div{
        width: 100%;
        font-size: 15px;
    }

    .principal div{
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .principal p{
        text-align: center;
    }
    .principal div h2{
        font-size: 30px;
        text-align: center;
        padding: 10px;
        font-style: italic;
    }
    .principal h3{
        font-size: 20px;
        font-style: italic;
    }
    .fixed{
        position: fixed;
        right: 20px;
        bottom: 20px;
    }
    .img-act{
        width: 100%;
        height: 35vh;
        padding: 1%;
    }
}


@media screen and (max-width:1140px) {
header{
    flex-direction: column;
    padding: 5px;
}
}


@media screen and (max-width:870px) {
    header img{
        width: 200px;
        height: 120px;
    }
    header nav ul{
        flex-direction: column;
        text-align: center;
}
    header nav ul li{
        margin: 5px;
}
footer{
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
}

@media screen and (max-width:470px) {
    header{
        display: flex;
        padding: 15px;
    }
}
