/*---------- PAGE CABAÑAS -----------*/
.cabana{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    padding-bottom: 20px;
        img{
            padding: 15px;
            width: 650px;
            height: 420px;
        }

}

/*-------- PAGE SERVICIOS ----------*/
.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.act-serv{
    padding-left: 15px;
}
.servicios-1{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-start;
    flex-direction: row-reverse;
    padding: 35px;
        img{
            div{
                text-align: center;
            }
        }
    }




/*------------ PAGE DEPARTAMENTOS --------------*/
.departamentos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    padding-bottom: 20px;
        img{
            padding: 15px;
            width: 650px;
            height: 420px;
        }

}


.desc-dep{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    padding-bottom: 20px;
}

/*------------- PAGE ACTIVIDADES------------------*/
.actividades{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2%;
    padding-bottom: 20px;
        img{
            padding: 15px;
            width: 650px;
            height: 420px;
        }

}