//* LISTAS

$color-principal: rgba(85, 195, 254, 0.664);
$color-secundario: white;
$color-terciario: cornflowerblue;

//* OPERACIONES



//* VARIABLES


//* MAPAS

//* EXTENDS

// % PLACEHOLDER

%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

